:root {
  --bg-white: rgb(255, 255, 255);
  --bg-gray-dark: #e5e5e5;
  --bg-gray: #f5f5f7;
  --purple: #7161ba;
  --red-cl: #ee6955;
  --text-black: #3b3a40;
  --text-hover: #a2a1ab;
  --text-op: #cac4e5;
  --text-orange: #ff721f;
  --bg-color: #eeedf2;
  --pink: #fff3f1;
  --pink-2: #fbf3f7;
  --pink-momo: #d82d8b;
  --purple-text: #3a2c93;
  --bg-purple: #7266ba;
  --box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.1);
  --trans: all 0.3s;
  --red-2: #de221f;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}